@page
@model PE_PRN231_FA24_NguyenThuongHuyen_SE161803_FE.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div>
        <label>Username</label>
        <input type="text" asp-for="LoginRequest.EmailAddress" required />
        <span asp-validation-for="LoginRequest.EmailAddress" class="text-danger"></span>
    </div>
    <div>
        <label>Password</label>
        <input type="password" asp-for="LoginRequest.Password" required />
        <span asp-validation-for="LoginRequest.Password" class="text-danger"></span>
    </div>
    <button type="submit">Login</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="text-danger">@Model.ErrorMessage</p>
}
